body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #edfaee;
  margin: 0;
  padding: 0;
}

header {
  color: green;
  background-color: white;
}

.product img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
}

.details {
  margin: 3px;
}

.quantity {
  display: flex;
}

.quantity input {
  width: 50px;
  text-align: center;
  border: 1px;
  margin: 0 5px;
}

.quantity button {
  width: 30px;
  height: 30px;
  background-color: green;
  color: white;
  border: none;
}

.price {
  color: green;
  font-weight: bold;
  margin-left: 15px;
}

.order-summary {
  flex: 2;
  border: 1px solid green;
  padding: 10px;
  border-radius: 5px;
  align-self: flex-start;
}
